@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  height: 100%;
  font-family: Avenir, Helvetica Neue, Helvetica, Arial, sans-serif;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #1E252B;

}   

.header {
  border-bottom: 1px #262D34 solid;
  background-color: #262D34;
}

.navbar {
  display: none;


  @media only screen and (min-width: 425px) {
      display: flex;
      justify-content: flex-end;
  }

  &__item {
      font-size: 16px;
      font-weight: 800;
      margin-left: 1.5rem;
      margin-right: 1.5rem;
      margin-bottom: 1rem;
      margin-top: 1rem;
      color: #FFF;
  }
}

.post {
  margin: 0 1rem;
  width: 100%;

  &-item {
    display: flex;
    border: 1px #262D34 solid;
    border-radius: 4px;
    color: #FFF;
    padding: 1.5rem 3rem;
    background-color: #262D34;
    margin-top: 1rem;
    margin-bottom: 1rem;
    align-items: center;
  }
}

.bc {
  &__load {
    color: #FFF;
    display: flex;
    justify-content: center;
    align-self: center;
  }
  &__grid {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
  }
  &__left-sidebar {
    background-color: #262D34;
    border-radius: 4px;
    margin-top: 1rem;
    min-width: 200px;
  }
  &__right-sidebar {
    background-color: #262D34;
    border-radius: 4px;
    margin-top: 1rem;
    min-width: 300px;
  }
}