@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  height: 100%;
  font-family: 'Titillium Web', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #1E252B;
  height: 100%;
  overflow-y: hidden;
}   

.header {
  border-bottom: 1px #262D34 solid;
  padding-right: 180px;
  padding-left: 180px;
  height: 80px;

  &__icon {

    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.navbar {
  display: none;


  @media only screen and (min-width: 425px) {
      display: flex;
      justify-content: flex-end;
  }

  &__item {
      font-size: 16px;
      font-weight: 800;
      margin-left: 1.5rem;
      margin-right: 1.5rem;
      margin-bottom: 1rem;
      margin-top: 1rem;
      color: #F7FFFF;
  }
}

.post {
  overflow-y: auto;
  height: calc(100% - 100px);
}


.post-create {
  border-bottom: 1px #262D34 solid;
  height: 180px;
  display: flex;

  &__click {
    color: #F7FFFF;
    padding-left: 1.5rem;
    background-color: transparent;
    opacity: 0.6;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  &__text {
    width: 100%;
    height: 100%;
    background: none;
    outline: none;
    color: #F7FFFF;
    resize: auto;
    overflow: hidden;
    margin-top: 1rem;
  }

  &__avatar {
    align-self: center;
    justify-content: center;
    display: flex;
    width: 135px;
    
    &__icon {
      border-radius: 80px;
      border: 1px #F7FFFF solid;
      color: #F7FFFF;
      width: 60px;
      height: 60px;
    }
  }
}

.post-item {
  position: relative;
  display: flex;
  border: 1px #262D34 solid;
  border-radius: 4px;
  color: #F7FFFF;
  padding: 1.5rem 3rem;
  padding-left: 1.5rem;
  align-items: center;

  &__desc {
    font-size: 11px;
    margin-top: 1rem;
  }

  &__tag {
    position: absolute;
    right: 0;
  }
}

.bc {
  &__body {
    width: 100%;
    overflow-y:auto;
    -ms-overflow-style: none; 
    scrollbar-width: none;  

    &::-webkit-scrollbar {
      display: none;
    }


  }

  &__fixed-top {
    position: fixed;
    backface-visibility: hidden;
    backdrop-filter: blur(12px);
    z-index: 3;
  }

  &__heading1 {
    color: #FFF;
    margin: 0.5rem 1.5rem;
    font-size: 24px;
    font-weight: 600;

    &__wrapper {
      border-bottom: 1px #262D34 solid;
    }
  }

  &__load {
    color: #F7FFFF;
    display: flex;
    justify-content: center;
    align-self: center;
  }
  &__grid {
    display: flex;
    padding-left: 160px;
    padding-right: 160px;
    height: 100%;
  }
  &__left-sidebar, 
  &__right-sidebar {
    border-radius: 4px;
    min-width: 350px;
    padding: 10px;
  }


  &__left-sidebar {
      border-right: 1px #262D34 solid;

      &__baca {
        margin-left: 0.5rem;
        font-size: 24px;
      }

      &__item {
        font-size: 24px;
        color: #F7FFFF;
        padding: 10px;
        margin: 5px 0;
        display: flex;
        text-align: center;
        align-items: center;

        &--profile {
          position: fixed;
          bottom: 0;
          margin-bottom: 1rem;
        }
  
        &:hover {
          color: #262D34;
          border-radius: 20px;
          background-color: #F7FFFF;
        }

        &__text {
          margin-top: 0.2rem;
          margin-left: 1.5rem;
        }
    }
  }

  &__right-sidebar {
    border-left: 1px #262D34 solid;
  }
}

.bc-btn {
  &__post {
    width: 80px;
    color: #F7FFFF;
    border-radius: 20px;
    background-color: #8D7779;
    padding: 0.6rem;
    text-align: center;
    font-weight: 700;
    margin-right: 1rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    height: 45px;
    margin-top: 0.25rem;


    &:hover:not(:disabled) {
      color: #8D7779;
      background-color: #F7FFFF;
      animation-delay: 10ms;
      transform: scale(1.1);
    }

    &:disabled {
      opacity: 0.5;
    }

    &:disabled:hover {
      color: #F7FFFF;
      background-color: #8D7779;
      animation-delay: 10ms;
      cursor: default;
    }
  }
}